In [2]:
import sys
sys.path.append('/home/qte4288/Projects/Tumor-Risk-Prediction/scripts')
from setup import create_experiment_folders, create_model_folders

In [3]:
import pandas as pd
import os
from IPython.display import display, HTML

In [4]:
# setup project directory
dir_base = '/data/qte4288/Tumor-Risk-Prediction/'

dir_data = os.path.join(dir_base, 'data/sample')
pth_metadata = os.path.join(dir_data, 'metadata.csv')

In [5]:
df_metadata = pd.read_csv(pth_metadata)
df_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   patient_id   18 non-null     object
 1   time         18 non-null     object
 2   scan_folder  18 non-null     int64
 3   label        18 non-null     bool
dtypes: bool(1), int64(1), object(2)
memory usage: 582.0+ bytes

In [6]:
df_metadata

   patient_id      time  scan_folder  label
0      PT0001  13-03-19            1   True
1      PT0001  13-03-20            2  False
2      PT0001  13-03-21            3  False
3      PT0001  13-03-22            4  False
4      PT0001  13-03-23            5   True
5      PT0001  13-03-24            6   True
6      PT0002  24-09-10            1   True
7      PT0002  24-09-11            2  False
8      PT0002  24-09-12            3  False
9      PT0002  24-09-13            4  False
10     PT0002  24-09-14            5   True
11     PT0002  24-09-15            6   True
12     PT0003  03-05-06            1   True
13     PT0003  03-05-07            2  False
14     PT0003  03-05-08            3  False
15     PT0003  03-05-09            4  False
16     PT0003  03-05-10            5   True
17     PT0003  03-05-11            6   True

In [7]:
# Convert label to numerical
df_metadata['label'] = df_metadata['label'].apply(lambda x: 1 if x == 'TRUE' else 0)

# Convert time to datetime
df_metadata['time'] = pd.to_datetime(df_metadata['time'], format='%d-%m-%y')

# Calculate days since first scan
df_metadata['days'] = df_metadata.groupby('patient_id')['time'].transform(lambda x: (x - x.min()).dt.days)

df_metadata

   patient_id       time  scan_folder  label  days
0      PT0001 2019-03-13            1      0     0
1      PT0001 2020-03-13            2      0   366
2      PT0001 2021-03-13            3      0   731
3      PT0001 2022-03-13            4      0  1096
4      PT0001 2023-03-13            5      0  1461
5      PT0001 2024-03-13            6      0  1827
6      PT0002 2010-09-24            1      0     0
7      PT0002 2011-09-24            2      0   365
8      PT0002 2012-09-24            3      0   731
9      PT0002 2013-09-24            4      0  1096
10     PT0002 2014-09-24            5      0  1461
11     PT0002 2015-09-24            6      0  1826
12     PT0003 2006-05-03            1      0     0
13     PT0003 2007-05-03            2      0   365
14     PT0003 2008-05-03            3      0   731
15     PT0003 2009-05-03            4      0  1096
16     PT0003 2010-05-03            5      0  1461
17     PT0003 2011-05-03            6      0  1826